In [1]:
import pandas as pd
import random

In [2]:
df = pd.read_csv('df.csv')

In [3]:
df

       col1   col2
0     18849   3660
1       477   9450
2     18758  12675
3     36079  13855
4      4058  27294
...     ...    ...
9262  23010  14840
9263   7572  16515
9264  22999  33043
9265  32014  39329
9266   7642  48439

[9267 rows x 2 columns]

In [4]:
'''randomlist = []
for i in range(1,len(df)):
    n = random.randint(1,len(df)+1)
    if n not in randomlist and len(randomlist) < 1000:
        randomlist.append(n)
print(randomlist)'''

'randomlist = []\nfor i in range(1,len(df)):\n    n = random.randint(1,len(df)+1)\n    if n not in randomlist and len(randomlist) < 1000:\n        randomlist.append(n)\nprint(randomlist)'

In [19]:
n = 20

# Function to generate n empty lists
from itertools import repeat
lists = [[] for i in repeat(None, n)]
dataframes = [[] for j in repeat(None, n)]

In [20]:
## selecting 1000 random indexes from given dataset
for i in range(len(lists)):

    for j in range(1,len(df)):
        n = random.randint(1,len(df)+1)
        if n not in lists[i] and len(lists[i]) < 1000:
            lists[i].append(n)

In [21]:
for i in range(len(dataframes)):
    dataframes[i] = df[df.index.isin(lists[i])]

In [22]:
len(dataframes)

20

In [26]:
for i in range(1,len(dataframes)+1):
    name = 'dataset' + ' - ' + str(i) + '.csv'
    dataframes[i-1].to_csv(name, index=False)

In [24]:
dataframes[2].equals(dataframes[1])

False